workflow_whatsapp_status.json
{
    "name": "WhatsApp Status Publisher (DB Driven)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "whatsapp-publish",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                0,
                0
            ],
            "id": "webhook-trigger",
            "name": "Webhook Trigger"
        },
        {
            "parameters": {
                "operation": "get",
                "tableId": "whatsapp_statuses",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "id",
                            "value": "={{ $json.body.id }}",
                            "operator": "equal"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                220,
                0
            ],
            "id": "supabase-get",
            "name": "Supabase Get Record",
            "credentials": {
                "supabaseApi": {
                    "id": "SUPABASE_CRED_ID",
                    "name": "Supabase Account"
                }
            }
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.type }}",
                                        "rightValue": "text",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "Text"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.type }}",
                                        "rightValue": "image",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "Image"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.type }}",
                                        "rightValue": "video",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "Video"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.2,
            "position": [
                440,
                0
            ],
            "id": "check-media-type",
            "name": "Check Media Type"
        },
        {
            "parameters": {
                "resource": "messages-api",
                "operation": "send-stories",
                "type": "text",
                "instanceName": "Malco ARG",
                "messageText": "={{ $json.content }}",
                "options_message": {
                    "backgroundColor": "#000000",
                    "font": 1,
                    "allContacts": true
                }
            },
            "type": "n8n-nodes-evolution-api.evolutionApi",
            "typeVersion": 1,
            "position": [
                700,
                -120
            ],
            "id": "send-story-text",
            "name": "Send Story Text",
            "credentials": {
                "evolutionApi": {
                    "id": "uFLlpp0hjQkOnZnJ",
                    "name": "Evolution 5492216115728 - Malco ARG"
                }
            }
        },
        {
            "parameters": {
                "resource": "messages-api",
                "operation": "send-stories",
                "type": "image",
                "instanceName": "Malco ARG",
                "mediaUrl": "={{ $json.content }}",
                "caption": "={{ $json.caption }}",
                "options_message": {
                    "allContacts": true
                }
            },
            "type": "n8n-nodes-evolution-api.evolutionApi",
            "typeVersion": 1,
            "position": [
                700,
                60
            ],
            "id": "send-story-image",
            "name": "Send Story Image",
            "credentials": {
                "evolutionApi": {
                    "id": "uFLlpp0hjQkOnZnJ",
                    "name": "Evolution 5492216115728 - Malco ARG"
                }
            }
        },
        {
            "parameters": {
                "resource": "messages-api",
                "operation": "send-stories",
                "type": "video",
                "instanceName": "Malco ARG",
                "mediaUrl": "={{ $json.content }}",
                "caption": "={{ $json.caption }}",
                "options_message": {
                    "allContacts": true
                }
            },
            "type": "n8n-nodes-evolution-api.evolutionApi",
            "typeVersion": 1,
            "position": [
                700,
                240
            ],
            "id": "send-story-video",
            "name": "Send Story Video",
            "credentials": {
                "evolutionApi": {
                    "id": "uFLlpp0hjQkOnZnJ",
                    "name": "Evolution 5492216115728 - Malco ARG"
                }
            }
        },
        {
            "parameters": {
                "operation": "update",
                "tableId": "whatsapp_statuses",
                "updateKey": "id",
                "value": "={{ $('Webhook Trigger').item.json.body.id }}",
                "fields": {
                    "status": "published",
                    "published_at": "={{ new Date().toISOString() }}"
                }
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                1000,
                0
            ],
            "id": "supabase-update",
            "name": "Update Status Published",
            "credentials": {
                "supabaseApi": {
                    "id": "SUPABASE_CRED_ID",
                    "name": "Supabase Account"
                }
            }
        }
    ],
    "connections": {
        "Webhook Trigger": {
            "main": [
                [
                    {
                        "node": "Supabase Get Record",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase Get Record": {
            "main": [
                [
                    {
                        "node": "Check Media Type",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Media Type": {
            "main": [
                [
                    {
                        "node": "Send Story Text",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Send Story Image",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Send Story Video",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Story Text": {
            "main": [
                [
                    {
                        "node": "Update Status Published",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Story Image": {
            "main": [
                [
                    {
                        "node": "Update Status Published",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Story Video": {
            "main": [
                [
                    {
                        "node": "Update Status Published",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}