workflow_seo_extractor.json
{
    "name": "SEO Data Extractor",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "seo-analysis",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                0,
                0
            ],
            "id": "webhook-node",
            "name": "Webhook Trigger"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://google.serper.dev/search",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "X-API-KEY",
                            "value": "={{ $credentials.serperApi }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "q",
                            "value": "={{ $json.body.keyword }}"
                        },
                        {
                            "name": "gl",
                            "value": "ar"
                        },
                        {
                            "name": "hl",
                            "value": "es-419"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                250,
                0
            ],
            "id": "serper-node",
            "name": "Get SERP Data (AR)",
            "credentials": {
                "serperApi": {
                    "id": "",
                    "name": "Serper API Key"
                }
            }
        },
        {
            "parameters": {
                "model": "gemini-1.5-flash",
                "options": {
                    "temperature": 0.2
                }
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                500,
                200
            ],
            "id": "google-gemini-model",
            "name": "Google Gemini Chat Model",
            "credentials": {
                "googlePalmApi": {
                    "id": "",
                    "name": "Google Gemini API Account"
                }
            }
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=### ROLE\nYou are a Senior SEO Strategist and Conversion Rate Optimization (CRO) Expert specializing in \"Rank and Rent\" local service websites for the Argentine market.\n\n### TASK\nAnalyze the provided SERP Data. Compare the content found in the top competitors against your internal expert knowledge of what a perfect, comprehensive service page should contain.\n\n### INPUT DATA\n1. Target Keyword/Niche: {{ $(\"Webhook Trigger\").item.json.body.keyword }}\n2. Location: Argentina (gl: ar)\n3. SERP Data (Competitors): {{ JSON.stringify($json) }}\n\n### ANALYSIS LOGIC\n1. **Identify Entities Found:** What topics are the competitors already covering?\n2. **Identify TRUE GAPS:** Based on your expert knowledge of the trade (e.g., specific tools, regulations, common emergency pain points in Argentina), what are the competitors FAILING to mention? These are my opportunities.\n3. **Interactive Tool Ideation:** Propose a logic-based \"Micro-Tool\" (Calculator, Quiz, Estimator) specific to this niche.\n\n### OUTPUT FORMAT\nReturn ONLY a raw JSON object. No markdown, no intro.\nUse this schema:\n\n{\n  \"analysis_summary\": {\n    \"niche_difficulty\": \"Low/Medium/High\",\n    \"search_intent\": \"Informational/Transactional\"\n  },\n  \"semantic_profile\": {\n    \"core_entities_found\": [\"Array of strings\"],\n    \"missing_semantic_gaps\": [\"Array of strings: Critical topics NOT found in SERP\"],\n    \"local_nuances\": [\"Array of strings: Rioplatense terms to use (e.g., 'Flete' instead of 'Mudanza', 'Pileta' instead of 'Piscina')\"]\n  },\n  \"content_strategy\": {\n    \"recommended_h1\": \"String\",\n    \"structure_outline\": [\n      {\n        \"heading_level\": \"H2\",\n        \"title\": \"String\",\n        \"content_instructions\": \"String: How to fill the gap here\"\n      }\n    ]\n  },\n  \"interactive_tool_suggestion\": {\n    \"tool_name\": \"String (e.g., 'Calculadora de Materiales')\",\n    \"logic_description\": \"String: Inputs -> Processing -> Output\"\n  }\n}",
                "hasOutputParser": false
            },
            "type": "@n8n/n8n-nodes-langchain.chainLlm",
            "typeVersion": 1.4,
            "position": [
                500,
                0
            ],
            "id": "ai-agent-chain",
            "name": "SEO Strategist Agent",
            "inputs": [
                {
                    "node": "Get SERP Data (AR)",
                    "type": "main",
                    "index": 0
                },
                {
                    "node": "Google Gemini Chat Model",
                    "type": "ai_languageModel",
                    "index": 0
                }
            ]
        },
        {
            "parameters": {
                "jsCode": "const rawOutput = items[0].json.text || \"\";\n// Remove markdown code blocks if present\nconst cleanJson = rawOutput.replace(/```json/g, \"\").replace(/```/g, \"\").trim();\n\ntry {\n  const parsed = JSON.parse(cleanJson);\n  return { json: parsed };\n} catch (e) {\n  return { \n    json: { \n      error: \"Failed to parse JSON from AI response\", \n      raw_output: rawOutput \n    } \n  };\n}"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                850,
                0
            ],
            "id": "cleanup-json-node",
            "name": "Clean JSON"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}",
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1100,
                0
            ],
            "id": "response-node",
            "name": "Send API Response"
        }
    ],
    "connections": {
        "Webhook Trigger": {
            "main": [
                [
                    {
                        "node": "Get SERP Data (AR)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get SERP Data (AR)": {
            "main": [
                [
                    {
                        "node": "SEO Strategist Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Gemini Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "SEO Strategist Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "SEO Strategist Agent": {
            "main": [
                [
                    {
                        "node": "Clean JSON",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Clean JSON": {
            "main": [
                [
                    {
                        "node": "Send API Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}